@model DigitalShop.Models.AdminViewModel
@Html.AntiForgeryToken()
<!DOCTYPE html>
<html>
<head>
    <body>
        <form id="formUpdateAdmin">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@ViewBag.modalTitle</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.IsUpdate, new { @class = "hidden" })
                                    @Html.TextBoxFor(model => model.Id, new { @class = "hidden" })
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                </div>
                            </div>

                            @{
                                List<SelectListItem> listType = new List<SelectListItem>();
                                listType.Add(new SelectListItem
                                {
                                    Text = "Root",
                                    Value = "Root",
                                });
                                listType.Add(new SelectListItem
                                {
                                    Text = "Staff",
                                    Value = "Staff"

                                });
                            }
                            <div class="form-group">
                                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.Type, listType, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>

                            @{
                                List<SelectListItem> listStatus = new List<SelectListItem>();
                                listStatus.Add(new SelectListItem
                                {
                                    Text = "Activate",
                                    Value = "true",
                                });
                                listStatus.Add(new SelectListItem
                                {
                                    Text = "Deactivate",
                                    Value = "false"

                                });
                            }
                            <div class="form-group">
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.Status, listStatus, htmlAttributes: new { @class = "form-control" })
                                    <p class="text-danger" id="txtStatusError"></p>
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" disabled onclick="submitUpdate()" class="btn btn-primary" data-dismiss="modal" id="btnSaveProject">Save</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--Validation form-->
        <script src="~/js/jquery.validate.min.js"></script>
        <script src="~/js/FormValidation/upateAdminValidation.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                console.log($("#formUpdateAdmin").valid());
                $("#formUpdateAdmin").keyup(function () {
                    if ($("#formUpdateAdmin").valid()) {
                        $('#btnSaveProject').prop('disabled', false);
                    }
                    else {
                        $('#btnSaveProject').prop('disabled', true);
                    }
                });

            });

        </script>
        <!--End Validation form-->
    </body>
    </head>
</html>

