@model DigitalShop.Models.HomeModel;
@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
<div id="webcontent">
    <!-- banner -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <!-- Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item item1 active" style="height:300px">
                <div class="container">
                    <div class="w3l-space-banner">
                        <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                            <p>
                                Get flat
                                <span>10%</span> Cashback
                            </p>
                            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                                The
                                <span>Big</span>
                                Phone
                            </h3>
                            <a class="button2" href="@Url.Action("GetListProductByCategory", "Product", new {categoryName="Smart Phone"})">Shop Now </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item item2">
                <div class="container">
                    <div class="w3l-space-banner">
                        <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                            <p>
                                advanced
                                <span>Wireless</span> earbuds
                            </p>
                            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                                Best
                                <span>Headphone</span>
                            </h3>
                            <a class="button2" href="@Url.Action("GetListProductByCategory", "Product", new {categoryName="Head Phone"})">Shop Now </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item item3">
                <div class="container">
                    <div class="w3l-space-banner">
                        <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                            <p>
                                Get flat
                                <span>10%</span> Cashback
                            </p>
                            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                                New
                                <span>Laptop</span>
                            </h3>
                            <a class="button2" href="@Url.Action("GetListProductByCategory", "Product", new {categoryName="Laptop"})">Shop Now </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item item4">
                <div class="container">
                    <div class="w3l-space-banner">
                        <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                            <p>
                                Get Now
                                <span>40%</span> Discount
                            </p>
                            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                                <span>Music</span>
                                &
                                <span>Life</span>
                            </h3>
                            <a class="button2" href="@Url.Action("GetListProductByCategory", "Product", new {categoryName="Audio"})">Shop Now </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- //banner -->
    <!-- top Products -->
    <div class="ads-grid py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
            <!-- tittle heading -->
            <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
                <span>O</span>ur
                <span>N</span>ew
                <span>P</span>roducts
            </h3>
            <!-- //tittle heading -->
            <div class="row">
                <!-- product left -->
                <div class="agileinfo-ads-display col-lg-9">
                    <div class="wrapper">
                        <!-- Phone section -->
                        <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                            <h3 class="heading-tittle text-center font-italic">New Brand Mobiles</h3>
                            <div class="row">
                                @foreach (var item in Model.TopNewPhone)
                                {
                                    <div class="col-md-4 product-men mt-5">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item text-center">
                                                <img src="@item.AvatarImage" alt="" style="height:200px ">
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="/Product/Index/@item.Id" class="link-product-add-cart gotoProduct" data-idproduct="@item.Id">Quick View</a>
                                                    </div>
                                                </div>
                                                <span class="product-new-top">New</span>
                                            </div>
                                            <div class="item-info-product text-center border-top mt-4">
                                                <h4 class="pt-1">
                                                    <a href="/Product/Index/@item.Id">@item.Name</a>
                                                </h4>
                                                <div class="info-product-price my-2">
                                                    <span class="item_price">$@item.PriceOut</span>
                                                    <del>$@(item.PriceOut + 60)</del>
                                                </div>
                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                                    <form action="#" method="post">
                                                        <fieldset>
                                                            <input type="hidden" name="cmd" value="_cart" />
                                                            <input type="hidden" name="add" value="1" />
                                                            <input type="hidden" name="business" value=" " />
                                                            <input type="hidden" name="item_name" value="@item.Name" />
                                                            <input type="hidden" name="amount" value="@item.PriceOut" />
                                                            @*<input type="hidden" name="discount_amount" value="1.00" />*@
                                                            <input type="hidden" name="currency_code" value="USD" />
                                                            <input type="hidden" name="return" value=" " />
                                                            <input type="hidden" name="cancel_return" value=" " />
                                                            <input type="submit" name="submit" value="Add to cart" class="button btn" />
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- //Phone section -->
                        <!-- Laptop section -->
                        <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                            <h3 class="heading-tittle text-center font-italic">Laptop</h3>
                            <div class="row">
                                @foreach (var item in Model.TopNewLaptop)
                                {
                                    <div class="col-md-4 product-men mt-5">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item text-center">
                                                <img src="@item.AvatarImage" alt="" style="height:200px; width:200px">
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="/Product/Index/@item.Id" class="link-product-add-cart gotoProduct" data-idproduct="@item.Id">Quick View</a>
                                                    </div>
                                                </div>
                                                <span class="product-new-top">New</span>
                                            </div>
                                            <div class="item-info-product text-center border-top mt-4">
                                                <h4 class="pt-1">
                                                    <a href="/Product/Index/@item.Id">@item.Name</a>
                                                </h4>
                                                <div class="info-product-price my-2">
                                                    <span class="item_price">$@item.PriceOut</span>
                                                    <del>$@(item.PriceOut + 60)</del>
                                                </div>
                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                                    <form action="#" method="post">
                                                        <fieldset>
                                                            <input type="hidden" name="cmd" value="_cart" />
                                                            <input type="hidden" name="add" value="1" />
                                                            <input type="hidden" name="business" value=" " />
                                                            <input type="hidden" name="item_name" value="@item.Name" />
                                                            <input type="hidden" name="amount" value="@item.PriceOut" />
                                                            @*<input type="hidden" name="discount_amount" value="1.00" />*@
                                                            <input type="hidden" name="currency_code" value="USD" />
                                                            <input type="hidden" name="return" value=" " />
                                                            <input type="hidden" name="cancel_return" value=" " />
                                                            <input type="submit" name="submit" value="Add to cart" class="button btn" />
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- //Laptop section -->
                        <!-- Tivi section -->
                        <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                            <h3 class="heading-tittle text-center font-italic">Tivi</h3>
                            <div class="row">
                                @foreach (var item in Model.TopNewTV)
                                {
                                    <div class="col-md-4 product-men mt-5">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item text-center">
                                                <img src="@item.AvatarImage" alt="" style="height:200px; width:200px">
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="/Product/Index/@item.Id" class="link-product-add-cart gotoProduct" data-idproduct="@item.Id">Quick View</a>
                                                    </div>
                                                </div>
                                                <span class="product-new-top">New</span>
                                            </div>
                                            <div class="item-info-product text-center border-top mt-4">
                                                <h4 class="pt-1">
                                                    <a href="/Product/Index/@item.Id">@item.Name</a>
                                                </h4>
                                                <div class="info-product-price my-2">
                                                    <span class="item_price">$@item.PriceOut</span>
                                                    <del>$@(item.PriceOut + 60)</del>
                                                </div>
                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                                    <form action="#" method="post">
                                                        <fieldset>
                                                            <input type="hidden" name="cmd" value="_cart" />
                                                            <input type="hidden" name="add" value="1" />
                                                            <input type="hidden" name="business" value=" " />
                                                            <input type="hidden" name="item_name" value="@item.Name" />
                                                            <input type="hidden" name="amount" value="@item.PriceOut" />
                                                            @*<input type="hidden" name="discount_amount" value="1.00" />*@
                                                            <input type="hidden" name="currency_code" value="USD" />
                                                            <input type="hidden" name="return" value=" " />
                                                            <input type="hidden" name="cancel_return" value=" " />
                                                            <input type="submit" name="submit" value="Add to cart" class="button btn" />
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- //Tivi section -->
                        <!-- TopNewAccessories section -->
                        <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                            <h3 class="heading-tittle text-center font-italic">Accessories</h3>
                            <div class="row">
                                @foreach (var item in Model.TopNewAccessories)
                                {
                                    <div class="col-md-4 product-men mt-5">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item text-center">
                                                <img src="@item.AvatarImage" alt="" style="height:200px; width:200px">
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="/Product/Index/@item.Id" class="link-product-add-cart gotoProduct" data-idproduct="@item.Id">Quick View</a>
                                                    </div>
                                                </div>
                                                <span class="product-new-top">New</span>
                                            </div>
                                            <div class="item-info-product text-center border-top mt-4">
                                                <h4 class="pt-1">
                                                    <a href="/Product/Index/@item.Id">@item.Name</a>
                                                </h4>
                                                <div class="info-product-price my-2">
                                                    <span class="item_price">$@item.PriceOut</span>
                                                    <del>$@(item.PriceOut + 60)</del>
                                                </div>
                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                                    <form action="#" method="post">
                                                        <fieldset>
                                                            <input type="hidden" name="cmd" value="_cart" />
                                                            <input type="hidden" name="add" value="1" />
                                                            <input type="hidden" name="business" value=" " />
                                                            <input type="hidden" name="item_name" value="@item.Name" />
                                                            <input type="hidden" name="amount" value="@item.PriceOut" />
                                                            @*<input type="hidden" name="discount_amount" value="1.00" />*@
                                                            <input type="hidden" name="currency_code" value="USD" />
                                                            <input type="hidden" name="return" value=" " />
                                                            <input type="hidden" name="cancel_return" value=" " />
                                                            <input type="submit" name="submit" value="Add to cart" class="button btn" />
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- //TopNewAccessories section -->
                    </div>
                </div>
                <!-- //product left -->
                <!-- product right -->
                <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
                    <div class="side-bar p-sm-4 p-3">
                        <div class="search-hotel border-bottom py-2">
                            <h3 class="agileits-sear-head mb-3">Search Here..</h3>
                            <form action="@Url.Action("GetResultSearch","Product")" method="post">
                                <input type="search" id="inputSearchProduct2" name="searchProduct" placeholder="Product name..." required="">
                                <input type="submit" value=" ">
                            </form>
                        </div>
                        <!-- best seller -->
                        <div class="f-grid py-2">
                            <h3 class="agileits-sear-head mb-3">Best Seller</h3>
                            <div class="box-scroll">
                                <div class="">
                                    @foreach (var item in Model.TopSeller)
                                    {
                                        <div class="row my-4">
                                            <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                                <img src="@item.AvatarImage" alt="" class="img-fluid" style="height:70px">
                                            </div>
                                            <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                                <a href="/Product/Index/@item.Id">@item.Name</a>
                                                <a href="/Product/Index/@item.Id" class="price-mar mt-2">$@item.PriceOut</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- //best seller -->
                    </div>
                    <!-- //product right -->
                </div>
            </div>
        </div>
    </div>
    <!-- //top products -->
</div>

