@model List<DigitalShop.Models.CartViewModel>;
@*@{
        ViewData["Title"] = "_CheckOut";
        Layout = "~/Views/Shared/_WebLayout.cshtml";
    }*@
<!-- page -->
<!DOCTYPE html>
<html>
<head>
    <body>
        <form id="frmSubmitCheckOut">
            <div class="services-breadcrumb">
                <div class="agile_inner_breadcrumb">
                    <div class="container">
                        <ul class="w3_short">
                            <li>
                                <a href="index.html">Home</a>
                                <i>|</i>
                            </li>
                            <li>Checkout</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- //page -->
            <!-- checkout page -->
            <div class="privacy py-sm-5 py-4">
                <div class="container py-xl-4 py-lg-2">
                    <!-- tittle heading -->
                    <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
                        <span>C</span>heckout
                    </h3>
                    <!-- //tittle heading -->
                    <div class="checkout-right">
                        <h4 class="mb-sm-4 mb-3">
                            Your shopping cart contains:
                            <span>@ViewBag.CountProduct Products</span>
                        </h4>
                        <div class="table-responsive">
                            <table class="timetable_sub">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Image</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="rem1">
                                            <td class="invert">@item.ProductName</td>

                                            <td class="invert quantityOrder" data-productId="@item.ProductID" data-Quantity="@item.ProDuctQuantity">
                                                @item.ProDuctQuantity
                                            </td>
                                            <td>
                                                <img src="@item.ProductAvatar" alt=" " class="" style="height:50px">
                                            </td>
                                            <td class="invert">$@(item.ProDuctQuantity * item.ProductPriceOut)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <p style="float:right;margin-right:80px">Total: $@ViewBag.TotalPrice</p>

                    <div class="checkout-left">
                        <div class="address_form_agile mt-sm-5 mt-4">
                            <h4 class="mb-sm-4 mb-3">Add a new Details</h4>
                            <div class="creditly-wrapper wthree, w3_agileits_wrapper">
                                <div class="information-wrapper">
                                    <div class="first-row">
                                        <div class="controls form-group">
                                            <input class="billing-address-name form-control" type="text" id="shipName" name="shipName" placeholder="Full Name" required="" value="@ViewBag.ShipName">
                                        </div>
                                        <div class="w3_agileits_card_number_grids">
                                            <div class="w3_agileits_card_number_grid_left form-group">
                                                <div class="controls">
                                                    <input type="number" class="form-control" placeholder="Mobile Number" id="shipMobile" name="shipMobile" required="" value="@ViewBag.ShipMobile">
                                                </div>
                                            </div>
                                            <div class="w3_agileits_card_number_grid_right form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Address" id="shipAddress" name="shipAddress" required="" value="@ViewBag.ShipAddress">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <button type="submit" class="btn btn-success" disabled id="btnSubmitOrder">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </form>
            <!-- //checkout page -->
            <script src="~/js/jquery.validate.min.js"></script>
            <script src="~/js/FormValidation/checkOutValidation.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    console.log($("#frmSubmitCheckOut").valid());
                    $("#frmSubmitCheckOut").keyup(function () {
                        if ($("#frmSubmitCheckOut").valid()) {
                            $('#btnSubmitOrder').prop('disabled', false);
                        }
                        else {
                            $('#btnSubmitOrder').prop('disabled', true);
                        }
                    });
                });

            </script>

            <script type="text/javascript">
    var listOrderDetail = [];
    var j = 0;
    $(document).ready(function () {
        $("#frmSubmitCheckOut").submit(function () {
            $(".quantityOrder").each(function () {
                    listOrderDetail[j] = {
                        ProductId: $(this).attr("data-productId"),
                        Quantity: $(this).attr("data-Quantity")
                    }
                    j = j + 1;
            });

             $.ajax({
                async: true,
                method: "post",
                url: '@Url.Action("CheckOut", "Cart")',
                data: {
                    orderViewModel: {
                        ShipName: $("#shipName").val(),
                        ShipMobile: $("#shipMobile").val(),
                        ShipAddress: $("#shipAddress").val()
                    },
                    orderDetailViewModels: listOrderDetail
                },
                 success: function (response) {
                     paypals.minicarts.reset();
                    if (response != "") {
                        alert(response);
                    }
                    else {
                        window.location.href = "/Home/Index";
                        alert("Successfully !");
                    }
                },
                error: function () {
                    alert("Fail!");
                }

            });
            return false;
        });
    });
            </script>
    </body>
</head>
</html>
