@model List<DigitalShop.Models.ProductViewModel>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                List Product
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <button type="button" class="btn btn-info " style="margin-bottom: 10px" onclick="EditAction();">Add Product</button>
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>

                                <th>
                                    Image
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>View</th>
                                <th>Quantity</th>
                                <th>Activate</th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        @if (Model.Count() != 0)
                        {
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr class="odd gradeX">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <img src="@item.AvatarImage" width="35" height="70" />
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.PriceOut)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ViewCount)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                        <td>
                                            @if (item.Status == true)
                                            {
                                                <p style="color:darkgreen">Activate</p>
                                            }
                                            else
                                            {
                                                <p style="color:red">Deactivate</p>
                                            }
                                        </td>
                                        <td>
                                            <button type="button" class="btn-primary" onclick="EditAction(@item.Id)" id="btnEdit">Detail</button>
                                            <button type="button" class="btn-danger" onclick="Deactive(@item.Id)">Deactive</button>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        }
                    </table>
                    <!--Modal Update-->
                    <div class="modal fade" id="updateModal" role="dialog">
                        @*this is _UpdateData*@
                    </div>
                    <!--End Modal Update-->

                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

<script type="text/javascript">
    function GetData() {
        $.ajax({
            async: true,
            method: "GET",
            dataType: "html",
            url: '@Url.Action("GetListProduct", "AdminProduct")',
                data: {},
                success: function (response) {
                    $("#contentAdmin").html("");
                    $("#contentAdmin").html(response);
                },
                error: function () {
                    alert('test data index error');
                }
            });
    };

    function Deactive(id) {
        $.ajax({
            async: true,
            method: "Get",
            dataType: "html",
            url: '@Url.Action("Deactive", "AdminProduct")',
            data: {id : id},
            success: function () {
                alert('Deactive successfullly !');
                GetData();
            }
        })

    }

    function EditAction(id) {
        $.ajax({
            async: true,
            method: "Get",
            url: '@Url.Action("EditAction", "AdminProduct")',
            data: { id: id },
            success: function (response) {
                $("#updateModal").html(response);
                $("#updateModal").modal("show");
            }
        })
        };


    function submitUpdate() {
        $(document).ready(function () {
            if ($("#frmUpdateProduct").valid()) {

                var formData = new FormData();

                var fileAvatar = $("#chooseAvatar").get(0);
                var fileAvatars = fileAvatar.files;
                for (var i = 0; i < fileAvatars.length; i++) {
                    formData.append("fileAvatar", fileAvatars[i]);
                }

                var fileImage1 = $("#chooseImage1").get(0);
                var fileImage1s = fileImage1.files;
                for (var i = 0; i < fileImage1s.length; i++) {
                    formData.append("fileImage1", fileImage1s[i]);
                }

                var fileImage2 = $("#chooseImage2").get(0);
                var fileImage2s = fileImage2.files;
                for (var i = 0; i < fileImage2s.length; i++) {
                    formData.append("fileImage2", fileImage2s[i]);
                }

                var fileImage3 = $("#chooseImage3").get(0);
                var fileImage3s = fileImage3.files;
                for (var i = 0; i < fileImage3s.length; i++) {
                    formData.append("fileImage3", fileImage3s[i]);
                }

                formData.append("Id", $("#Id").val());
                formData.append("Name", $("#Name").val());
                formData.append("PriceIn", $("#PriceIn").val());
                formData.append("PriceOut", $("#PriceOut").val());
                formData.append("CategoryId", $("#CategoryId").val());
                formData.append("CreateAt", $("#CreateAt").val());
                formData.append("NameCreateBy", $("#NameCreateBy").val());
                formData.append("Quantity", $("#Quantity").val());
                formData.append("ManufacturerId", $("#ManufacturerId").val());
                formData.append("Status", $("#Status").val());
                formData.append("Description", $("#Description").val());
                formData.append("IsUpdate", $("#IsUpdate").val());
                formData.append("AvatarImage", $("#AvatarImage").val());
                formData.append("Image1", $("#Image1").val());
                formData.append("Image2", $("#Image2").val());
                formData.append("Image3", $("#Image3").val());

                $.ajax({
                    async: true,
                    method: "post",
                    url: '@Url.Action("Update", "AdminProduct")',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (response) {
                        if (response != "") {
                            alert(response);
                        }
                        else {
                            alert("Successfully !");
                            GetData();
                        }
                    },
                    error: function () {
                        alert("Fail!");
                    }

                });
            }
        });
            
    }

</script>

<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>

