<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Digital Store</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link href="~/css/awesomplete.css" rel="stylesheet" />
    <script src="~/js/awesomplete.js" async></script>

    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    <style>
       
    </style>

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap css -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <link href="~/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up-box -->
    <link href="~/css/menu.css" rel="stylesheet" type="text/css" media="all" />
    <!-- menu style -->
    <!-- //Custom-Files -->
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <!-- //web fonts -->

</head>

<body>
    <!-- top-header -->
    <div class="agile-main-top">
        <div class="container-fluid">
            <div class="row main-top-w3l py-2">
                <div class="col-lg-4 header-most-top">
                </div>
                <div class="col-lg-8 header-right mt-lg-0 mt-2">
                    <!-- header lists -->
                    <ul>
                        <li class="text-center border-right text-white">
                            <a class="play-icon popup-with-zoom-anim text-white" href="#small-dialog1">
                            </a>
                        </li>
                        <li class="text-center border-right text-white">
                            <i class="far fa-envelope"></i> Digital@gmail.com
                        </li>
                        <li class="text-center border-right text-white">
                            <i class="fas fa-phone mr-2"></i> 0344236715
                        </li>
                        @if (ViewBag.UserNameLogin != null)
                        {
                            <li class="text-center border-right text-white">
                                <a class="text-white" id="showCustomerInfo">
                                    <i class="fas fa fa-user fa-fw mr-2"></i> @ViewBag.UserNameLogin
                                </a>
                            </li>
                            <li class="text-center text-white">
                                <a class="text-white" id="btnLogOut">
                                    <i class="fas fa-sign-out-alt mr-2"></i>Log out
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="text-center border-right text-white">
                                <a href="#" data-toggle="modal" data-target="#exampleModal" class="text-white">
                                    <i class="fas fa-sign-in-alt mr-2"></i> Log In
                                </a>
                            </li>
                            <li class="text-center text-white">
                                <a href="#" data-toggle="modal" data-target="#exampleModal2" class="text-white">
                                    <i class="fas fa-sign-out-alt mr-2"></i>Register
                                </a>
                            </li>
                        }

                    </ul>
                    <!-- //header lists -->
                </div>
            </div>
        </div>
    </div>
    <!-- modals -->
    <!--Modal Update Customer Infomation-->
    <div class="modal fade" tabindex="-1" id="updateModal" role="dialog" aria-hidden="true">
        @*this is _UpdateData*@
    </div>
    <!--End Modal Update Customer Infomation-->
    <!-- log in -->
    <form id="frmLoginCustomer">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center">Log In</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label">Email</label>
                            <input type="email" class="form-control" placeholder=" " id="userNameLogin" name="userNameCustomerLogin" required="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder=" " id="passWordLogin" name="passWordCustomerLogin" required="">
                        </div>
                        <div class="right-w3l">
                            <button type="button" disabled class="form-control btn-primary" id="btnLoginCustomer">Log in</button>
                        </div>
                        <div class="sub-w3l">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" id="checkRemember">
                                <label>Remember me?</label>
                            </div>
                        </div>
                        <p class="text-center dont-do mt-3">
                            Don't have an account?
                            <a href="#" data-toggle="modal" data-target="#exampleModal2">
                                Register Now
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- register -->
    <form id="frmRegisterCustomer">
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Register</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="col-form-label">User Name(Email)</label>
                            <input type="email" class="form-control" placeholder=" " id="UserName" name="UserName" required="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Display Name</label>
                            <input type="text" class="form-control" placeholder=" " id="DisplayName" name="DisplayName" required="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Phone</label>
                            <input type="number" class="form-control" placeholder=" " id="Phone" name="Phone" required="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Address</label>
                            <input type="text" class="form-control" placeholder=" " id="Address" name="Address" required="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder=" " id="password1" name="password1" required="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Confirm Password</label>
                            <input type="password" class="form-control" placeholder=" " name="ConfirmPassword" id="password2" required="">
                        </div>
                        <div class="right-w3l">
                            <button type="button" disabled class="form-control btn-primary" id="btnRegister">Register</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </form>
    <!-- //modal -->
    <!-- //top-header -->
    <!-- header-bottom-->
    <div class="header-bot">
        <div class="container">
            <div class="row header-bot_inner_wthreeinfo_header_mid">
                <!-- logo -->
                <div class="col-md-3 logo_agile">
                    <h1 class="text-center">
                        <a href="/Home/Index" class="font-weight-bold font-italic">
                            <img src="~/images/logo2.png" alt=" " class="img-fluid">Digital Store
                        </a>
                    </h1>
                </div>
                <!-- //logo -->
                <!-- header-bot -->
                <div class="col-md-9 header mt-4 mb-md-0 mb-4">
                    <div class="row">
                        <!-- search -->
                        <div class="col-10 agileits_search">
                            <form class="form-inline" action="@Url.Action("GetResultSearch","Product")" method="post" autocomplete="off">
                                <div class="autocomplete">
                                    <input id="inputSearchProduct" name="searchProduct" class="form-control mr-sm-2 awesomplete" type="text" placeholder="Product Name..." aria-label="Product Name..." style="width:500px">
                                </div>
                                <button class="btn my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                        <!-- //search -->
                        <!-- cart details -->
                        <div class="col-2 top_nav_right text-center mt-sm-0 mt-2">
                            <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                                <form action="#" method="post" class="last">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="display" value="1">
                                    <button class="btn w3view-cart" type="submit" name="submit" value="">
                                        <i class="fas fa-cart-arrow-down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- //cart details -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shop locator (popup) -->
    <!-- //header-bottom -->
    <!-- navigation -->
    <div class="navbar-inner">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center mr-xl-5">
                        <li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link" href="@Url.Action("Index","Home")">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link" href="@Url.Action("GetListProductByCategory", "Product", new {categoryName="Smart Phone"})">Smart Phone</a>
                        </li>
                        <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link" href="@Url.Action("GetListProductByCategory", "Product", new {categoryName="Laptop"})">Laptop</a>
                        </li>
                        <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link" href="@Url.Action("GetListProductByCategory", "Product", new {categoryName="Tivi"})">Tivi</a>
                        </li>
                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Accessories
                            </a>
                            <div class="dropdown-menu">
                                <div class="agile_inner_drop_nav_info p-4">
                                    <div class="row">
                                        <div class="col-sm-6 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="@Url.Action("GetListProductByCategory", "Product", new {categoryName="Head Phone"})">Head Phone</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("GetListProductByCategory", "Product", new {categoryName="Audio"})">Audio</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("GetListProductByCategory", "Product", new {categoryName="Smart Watch"})">Smart Watch</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link" href="@Url.Action("About","Home")">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Contact","Home")">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- //navigation -->

    @RenderBody()

    <!-- middle section -->
    <div class="join-w3l1 py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="join-agile text-left p-4">
                        <div class="row">
                            <div class="col-sm-7 offer-name">
                                <h6>Smooth, Rich & Loud Audio</h6>
                                <h4 class="mt-2 mb-3">Branded Headphones</h4>
                                <p>Sale up to 25% off all in store</p>
                            </div>
                            <div class="col-sm-5 offerimg-w3l">
                                <img src="~/images/off1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <div class="join-agile text-left p-4">
                        <div class="row ">
                            <div class="col-sm-7 offer-name">
                                <h6>A Bigger Phone</h6>
                                <h4 class="mt-2 mb-3">Smart Phones </h4>
                                <p>Amazing gift with order over $500</p>
                            </div>
                            <div class="col-sm-5 offerimg-w3l">
                                <img src="~/images/off2.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- middle section -->
    <!-- footer -->
    <footer>
        <div class="footer-top-first">
            <div class="container py-md-5 py-sm-4 py-3">
                <!-- footer first section -->
                <h2 class="footer-top-head-w3l font-weight-bold mb-2">Electronics :</h2>
                <p class="footer-main mb-4">
                    If you're considering a new laptop, looking for a powerful new car stereo or shopping for a new HDTV, we make it easy to
                    find exactly what you need at a price you can afford. We offer Every Day Low Prices on TVs, laptops, cell phones, tablets
                    and iPads, video games, desktop computers, cameras and camcorders, audio, video and more.
                </p>
                <!-- //footer first section -->
                <!-- footer second section -->
                <div class="row w3l-grids-footer border-top border-bottom py-sm-4 py-3">
                    <div class="col-md-4 offer-footer">
                        <div class="row">
                            <div class="col-4 icon-fot">
                                <i class="fas fa-dolly"></i>
                            </div>
                            <div class="col-8 text-form-footer">
                                <h3>Free Shipping</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offer-footer my-md-0 my-4">
                        <div class="row">
                            <div class="col-4 icon-fot">
                                <i class="fas fa-shipping-fast"></i>
                            </div>
                            <div class="col-8 text-form-footer">
                                <h3>Fast Delivery</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offer-footer">
                        <div class="row">
                            <div class="col-4 icon-fot">
                                <i class="far fa-thumbs-up"></i>
                            </div>
                            <div class="col-8 text-form-footer">
                                <h3>Big Choice</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //footer second section -->
            </div>
        </div>
        <!-- footer third section -->
        <div class="w3l-middlefooter-sec">
            <div class="container py-md-5 py-sm-4 py-3">
                <div class="row footer-info w3-agileits-info">
                    <!-- footer categories -->
                    <div class="col-md-3 col-sm-6 footer-grids">
                        <h3 class="text-white font-weight-bold mb-3">Categories</h3>
                        <ul>
                            <li class="mb-3">
                                <a href="@Url.Action("GetListProductByCategory", "Product", new {categoryName="Smart Phone"})">Smart Phone </a>
                            </li>
                            <li class="mb-3">
                                <a href="@Url.Action("GetListProductByCategory", "Product", new {categoryName="Laptop"})">Laptop</a>
                            </li>
                            <li class="mb-3">
                                <a href="@Url.Action("GetListProductByCategory", "Product", new {categoryName="Tivi"})">TV</a>
                            </li>
                            <li class="mb-3">
                                <a href="@Url.Action("GetListProductByCategory", "Product", new {categoryName="Head Phone"})">Head Phone</a>
                            </li>
                            <li class="mb-3">
                                <a href="@Url.Action("GetListProductByCategory", "Product", new {categoryName="Audio"})">Audio</a>
                            </li>
                            <li>
                                <a href="@Url.Action("GetListProductByCategory", "Product", new {categoryName="Smart Watch"})">SmartWatch</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //footer categories -->
                    <!-- quick links -->
                    <div class="col-md-3 col-sm-6 footer-grids mt-sm-0 mt-4">
                        <h3 class="text-white font-weight-bold mb-3">Quick Links</h3>
                        <ul>
                            <li class="mb-3">
                                <a href="@Url.Action("About","Home")">About Us</a>
                            </li>
                            <li class="mb-3">
                                <a href="@Url.Action("Contact","Home")">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-grids mt-md-0 mt-4">
                        <h3 class="text-white font-weight-bold mb-3">Get in Touch</h3>
                        <ul>
                            <li class="mb-3">
                                <i class="fas fa-map-marker"></i> 55 GiaiPhong,VietNam.
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-mobile"></i> 333 222 3333
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-phone"></i> +222 11 4444
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-envelope-open"></i>
                                <a href="mailto:example@mail.com"> mail maituyen4496@gmail.com</a>
                            </li>
                            <li>
                                <i class="fas fa-envelope-open"></i>
                                <a href="mailto:example@mail.com"> mail digitalshop@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-grids w3l-agileits mt-md-0 mt-4">
                        <!-- newsletter -->
                        <h3 class="text-white font-weight-bold mb-3">Newsletter</h3>
                        <p class="mb-3">Free Delivery on all order!</p>
                        <!-- //newsletter -->
                    </div>
                </div>
                <!-- //quick links -->
            </div>
        </div>
        <!-- //footer third section -->
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    @*<div class="copy-right py-3">
            <div class="container">
                <p class="text-center text-white">
                    © 2018 Electro Store. All rights reserved | Design by
                    <a href="http://w3layouts.com"> W3layouts.</a>
                </p>
            </div>
        </div>*@
    <!-- //copyright -->
    <!-- js-files -->
    <!-- jquery -->
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <!-- //jquery -->
    <!-- nav smooth scroll -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //nav smooth scroll -->
    <!-- popup modal (for location)-->
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- //popup modal (for location)-->
    <!-- cart-js -->
    <script src="~/js/minicart.js"></script>
    <script>
        var cartList = [];
        paypals.minicarts.render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

        paypals.minicarts.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;

            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 1) {
                alert('The minimum order quantity is 1. Please add more to your shopping cart before checking out');
                evt.preventDefault();
            }

            for (var i = 0; i < len; i++) {
                cartList[i] = {
                    ProductName: items[i].get('item_name'),
                    ProDuctQuantity: items[i].get('quantity')
                };
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- imagezoom -->
    <script src="~/js/imagezoom.js"></script>
    <!-- //imagezoom -->
    <!-- flexslider -->
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />
    <script src="~/js/jquery.flexslider.js"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!-- //FlexSlider-->
    <!-- scroll seller -->
    <script src="~/js/scroll.js"></script>
    <!-- //scroll seller -->
    <!-- smoothscroll -->
    <script src="~/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->
    <script src="~/js/move-top.js"></script>
    <script src="~/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- for bootstrap working -->
    <script src="~/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->
    <!--Validate Login Form-->
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/FormValidation/loginCustomerValidation.js"></script>
    <script src="~/js/FormValidation/registerCustomerValidation.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            console.log($("#frmLoginCustomer").valid());
            $("#frmLoginCustomer").keyup(function () {
                if ($("#frmLoginCustomer").valid()) {
                    $('#btnLoginCustomer').prop('disabled', false);
                }
                else {
                    $('#btnLoginCustomer').prop('disabled', true);
                }
            });

            console.log($("#frmRegisterCustomer").valid());
            $("#frmRegisterCustomer").keyup(function () {
                if ($("#frmRegisterCustomer").valid()) {
                    $('#btnRegister').prop('disabled', false);
                }
                else {
                    $('#btnRegister').prop('disabled', true);
                }
            });

        });
    </script>


    <!--End Validate Login Form-->
    <!--Auto complete search-->
    <script type="text/javascript">
        var listProductName = [""];
        $.ajax({
            async: true,
            method: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetListProductName", "Home")',
            success: function (response) {
                console.log(response);
                listProductName = response;
                var input = document.getElementById("inputSearchProduct");
                var newAwesomplete = new Awesomplete(input);
                newAwesomplete.list = response
                var input2 = document.getElementById("inputSearchProduct2");
                var newAwesomplete2 = new Awesomplete(input2);
                newAwesomplete2.list = response
                },  
                error: function () {
                    alert(' error !');
                }
        });
    </script>
    <!--/Auto complete search-->
    <script type="text/javascript">

            $(document).ready(function () {
                $("#btnRegister").click(function () {
                    if ($("#password2").val() == $("#password1").val()) {
                        $.ajax({
                            async: true,
                            method: "Post",
                            url: '@Url.Action("Register", "Customer")',
                            data: {
                                newCustomer: newCustomer = {
                                    UserName: $("#UserName").val(),
                                    PassWord: $("#password1").val(),
                                    DisplayName: $("#DisplayName").val(),
                                    Phone: $("#Phone").val(),
                                    Address: $("#Address").val(),
                                }
                            },
                            success: function (response) {
                                if (response == "") {
                                    window.location.href = '@Url.Action("Index", "Home")';
                                    alert("Register Successfully !");
                                }
                                else {
                                    alert(response);
                                }
                            },
                            error: function () {
                                alert('Error !');
                            }
                        });
                    }
                    else {
                        alert("Password not match !");
                    }
                });
            });

        $("#btnLoginCustomer").click(function () {
            $.ajax({
                async: true,
                method: "Post",
                url: '@Url.Action("Login", "Customer")',
                data: {
                    userName: $("#userNameLogin").val(),
                    passWord: $("#passWordLogin").val(),
                    rememberme: document.getElementById('checkRemember').checked
                    },
                success: function (response) {
                    if (response == "") {
                        window.location.href = '@Url.Action("Index", "Home")';
                        alert("Login Successfully !");
                    }
                    else {
                        alert(response);
                    }
                },
                error: function () {
                    alert('Error !');
                }
            });
        });

        $("#btnLogOut").click(function () {
            $.ajax({
                async: true,
                method: "Get",
                url: '@Url.Action("Logout", "Customer")',
                success: function () {
                        window.location.href = '@Url.Action("Index", "Home")';
                },
                error: function () {
                    alert('Error !');
                }
            });
        });

        $("#showCustomerInfo").click(function () {
            $.ajax({
                async: true,
                method: "Get",
                url: '@Url.Action("GetCustomerInfomation", "Customer")',
                success: function (response) {
                    $("#updateModal").html(response);
                    $("#updateModal").modal("show");
                }
            });
        });

        function saveCustomerInfo() {
            $.ajax({
                async: true,
                method: "Post",
                url: '@Url.Action("ChangeCustomerInfomation", "Customer")',
                data: {
                    customerViewModel: {
                        Id: $("#Id").val(),
                        DisplayName: $("#Id").val(),
                        Phone: $("#Phone").val(),
                        Address: $("#Address").val(),
                        PassWord: $("#PassWord").val(),
                        ConfirmPassWord: $("#ConfirmPassWord").val(),
                    }
                },
                success: function (response) {
                    if (response != "") {
                        alert(response);
                    }
                    else {
                        window.location.href = '@Url.Action("Index", "Home")';
                        alert("Update infomation successfully !");
                    }
                }
            });
        };
    </script>
</body>
</html>